body {
  background-position: center;
  background-color: pink;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.logo img {
  max-width: 100%;
  height: auto;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

.container {
  margin: 20px;
  background-color: #CDCFEE;
  z-index:-1;
  position: relative;
  -webkit-box-shadow: 0px 1px 92px 29px rgba(205,207,238,1);
-moz-box-shadow: 0px 1px 92px 29px rgba(205,207,238,1);
box-shadow: 0px 1px 92px 29px rgba(205,207,238,1);
backdrop-filter: blur(41.5px);
}

.grid {
  display: grid;
  grid-gap: 20px;
  /* margin: 0 auto; */
}

.staff-item {
  text-align: center;
}

.staff-item img {
  max-width: 100%;
  height: auto;
}

.staff-details{
  /* margin:20px; */
  display: grid;
  grid-gap: 20px;
  /* margin: 0 auto; */
}

.card{
  position: relative;
  /* display: block; */
  margin:20px;
}

.card-body{
  position: absolute;
}

.card-title{
  position: absolute;
  width:100%;
  left:98px;
  top:-25px;
}

.card-img-top{
  position:relative;
  top: -242px;
  left:98px;
  width:144px; 
  height:209px;
  z-index:10;
}

.card-img-bottom{
  position: relative;
  width:340px;
  z-index:-1;
}

@media (min-width:1150px){
  .staff-details{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1150px) and (min-width: 767px) {
  .staff-details {
    grid-template-columns: repeat(2, 1fr);
  }
}



@media (max-width: 767px) {
  .staff-item {
    margin-bottom: 20px;
  }

  

  header {
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  nav ul {
    margin-top: 10px;
    justify-content: space-around;
  }
}